{% extends 'base.html' %}
{% block title %} Results {% endblock %}


{% block body %}
<style>
  .resultformat {
  margin: 20px;}
</style>

<div class="container mt-4">
  <div class="btn-group gap-3">
    {% if request.path == "/results-maths/" %}
    <a href="/results/" class="btn btn-primary rounded"><div class="resultformat">Your results</div></a>
    <a href="/results-all/" class="btn btn-primary rounded"><div class="resultformat">All student results</div></a>
    <a href="/results-maths/" class="btn btn-primary rounded active"><img src="../static/images/winners.png" alt=""/> Maths</a>
    <a href="/results-history/" class="btn btn-primary rounded"><img src="../static/images/winners.png" alt=""/> History</a>
    <a href="/results-english/" class="btn btn-primary rounded"><img src="../static/images/winners.png" alt=""/> English</a>
    {% endif %}
  </div>
  <div class="btn-group gap-3">
    {% if request.path == "/results-history/" %}
    <a href="/results/" class="btn btn-primary rounded"><div class="resultformat">Your results</div></a>
    <a href="/results-all/" class="btn btn-primary rounded"><div class="resultformat">All student results</div></a>
    <a href="/results-maths/" class="btn btn-primary rounded"><img src="../static/images/winners.png" alt=""/> Maths</a>
    <a href="/results-history/" class="btn btn-primary rounded active"><img src="../static/images/winners.png" alt=""/> History</a>
    <a href="/results-english/" class="btn btn-primary rounded"><img src="../static/images/winners.png" alt=""/> English</a>
    {% endif %}
  </div>
  <div class="btn-group gap-3">
    {% if request.path == "/results-english/" %}
    <a href="/results/" class="btn btn-primary rounded"><div class="resultformat">Your results</div></a>
    <a href="/results-all/" class="btn btn-primary rounded" aria-current="page"><div class="resultformat">All student results</div></a>
    <a href="/results-maths/" class="btn btn-primary rounded"><img src="../static/images/winners.png" alt=""/> Maths</a>
    <a href="/results-history/" class="btn btn-primary rounded"><img src="../static/images/winners.png" alt=""/> History</a>
    <a href="/results-english/" class="btn btn-primary rounded active"><img src="../static/images/winners.png" alt=""/> English</a>
    {% endif %}
  </div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Quiz</th>
            <th>Score</th>
          </tr>
        </thead>
{% for mark in marks %}
<tr>
  <td>{{mark.user}}</td>
  <td>{{mark.quiz}}</td>
  <td>{{mark.score}}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
